# VS Code 本地配置
.vscode/

# 编译/外部产物/备份/log
output/
external/
backups/
reports/
releases/


# 其他常见编译产物，可按需保留
*.o
*.ko
*.bin
*.img
*.dtb
*.dtbo
*.imx
zImage
Image
rootfs/

certs/private/*.pem
certs/private/*.key
certs/private/*.csr
certs/*.srl

# Generated RAUC bundles
*.raucb
bundles/